<div id="queue-container" class="container">

  <div class="row">
    <div class="col"><label for="teachers-search">ПІБ викладача</label>
      <input id="teachers-search" type="text" class="form-control" placeholder="ПІБ викладача" [(ngModel)]="teachers"
             [ngbTypeahead]="search"/>
    </div>
    <div class="col">
      <label for="groups-search">Назва групи</label>
      <input id="groups-search" type="text" class="form-control" placeholder="Назва групи" [(ngModel)]="groups"
             [ngbTypeahead]="search"/>
    </div>
  </div>

  <div class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <!--<div class="col-1">-->
          <label> з дати
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker">
          </label>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <i class="far fa-calendar-alt"></i>
            </button>
          <!--</div>-->
        </div>
        <!--<div class="col-2">-->
          <label> по дату
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="endDate" ngbDatepicker #d1="ngbDatepicker">
          </label>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
              <i class="far fa-calendar-alt"></i>
            </button>
          </div>
        <!--</div>-->
      </div>
    </div>

  </div>
  <button id="search-advice" type="button" class="btn btn-success" (click)="findAdvices()">Пошук</button>



  <p *ngIf="advices == null && !hasAdvices">
    <ngb-alert  type= "warning" [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
  </p>


  <div class="container" *ngIf="advices != null && advices.length > 1    ">
    <div class="row">
      <div class="col">#</div>
      <div class="col">Дата та час</div>
      <div class="col">Тип</div>
      <div class="col">Аудиторія</div>
    </div>
  </div>

    <div *ngFor="let advice of advices" >
      <div class="row" (click)="getAdviceById(advice.id)">
        <div class="col">{{advice.id}}</div>
        <div class="col">{{advice.startDate | date :'MM-dd'}} З {{advice.startDate | date :'HH:mm'}} До {{advice.endDate  | date :'HH-mm' }}</div>
        <div class="col" *ngIf="advice.type =='Student'">Студент</div>  <div class="col" *ngIf="advice.type !='Student'">Группа</div>
        <div class="col" *ngIf="advice.description">{{advice.description}}</div> <div class="col" *ngIf="!advice.description">-</div>
      </div>
      <div *ngIf="isCollapsed && showAdviceId == advice.id">
        <div class="card">
          <div class="card-body">

            <div  class="row" *ngFor="let detail of detailAdvice">
              <div class="col">
                Початок :
                {{detail.reservedStartDate | date :'HH:mm' }}
                Кінець :
                {{detail.reservedEndDate | date :'HH:mm'}}
              </div>

              <div class="col" *ngIf="!detail.studentId"> Статус Вільно <button class="btn btn-success"> Запис</button> </div>
              <div class="col" *ngIf="detail.studentId"> Статус Занято <button class="btn btn-danger"> Відмінити</button> </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  <!--<div *ngIf=""></div>-->
  <!--Дата: Викладач: Аудиторія: Тип: Консультація одного студента-->
</div> <!-- /container -->
